/* ---------------- Wrapper ---------------- */
.about-wrapper {
  background: #ffeef3;
  padding: 80px 0;
  position: relative;
  overflow: hidden;
}

.about-heading {
  text-align: center;
  font-size: 3.5rem;
  font-weight: 700;
  color: #c2185b;
  margin-bottom: 60px;
}

/* ---------------- Timeline ---------------- */
.timeline-container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.timeline-line {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 6px;
  height: 100%;
  background: rgba(194, 24, 91, 0.15);
  border-radius: 20px;
  z-index: 1;
}

.timeline-fill {
  width: 100%;
  background: #ff4f9a;
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: 0;
  height: 0%; 
}

.timeline-arrow {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #ff4f9a;
  font-size: 28px;
  margin-top: -15px;
  z-index: 2;
  top: 0%; 
}

/* ---------------- Steps ---------------- */
.steps {
  width: 100%;
  position: relative;
  z-index: 2;
}

.step {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 150px;
  
}

/* REMOVED: .step.show class */

.step-block {
  width: 45%;
  display: flex;
  flex-direction: column;
}



.left-block {
  align-items: flex-end;
  text-align: right;
  padding-right: 30px;
}

.left-block:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease;

}

.right-block {
  align-items: flex-start;
  text-align: left;
  padding-left: 30px;
}

.right-block:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease;

}

/* ---------------- Text ---------------- */
.text-content h3 {
  color: #c2185b;
  font-size: 2rem;
  margin-bottom: 15px;
  font-weight: 700;
}

.text-content p {
  color: #4a4a4a;
  font-size: 1.3rem;
  line-height: 1.6;
  font-weight: 500;
}

/* ---------------- Images ---------------- */
.about-img {
  width: 500px;
  height: 400px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(194, 24, 91, 0.15);
  
}


/* ---------------- Mobile ---------------- */
@media (max-width: 768px) {
  .timeline-line {
    left: 20px;
  }

  .step {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 50px;
    margin-bottom: 80px;
  }

  .step.reverse {
    flex-direction: column;
  }

  .step-block {
    width: 100%;
    padding: 0;
    align-items: flex-start;
    text-align: left;
  }



  .about-img {
    max-height: 300px;
    width: 100%;
  }
}


.heart-arrow-img {
  width: 28px;       
  height: 33px;
  display: block;
}
