.menu-bar-container {
  width: 100%;
  height: 70px;
  background: #ff2f86; /* pink bar */
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
  border-radius: 15px 15px 0 0;
}

.menu-bar-container button {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}
